   <div class="row-cols-1" style="display: flex; flex-direction: column; justify-content: center; font-family: 'Passion One'; align-items: center;">

        <div class="col-md-6 column-gap-3" style="margin-bottom: 30px; width: 500px; margin-top: 50px;">
        <div style="border-style: dotted; border-color: black;>
            <form class="form login-form">
          <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: auto;">
            <h2>No Team Established</h2>

            <div class="form-group" style="margin-bottom: 20px;">
                <button class="btn btn-danger" type="submit" style="margin-top: 20px; font-size: 30px; align-items: center;">Build A Team</button>
              </div>
          </div>
          </div>
          </div>
        </div>