<div class="parent-02">

<div class="home-head">
    <p id="home-head">Let's Play Some Ball!</p>
  </div>




<aside class="one">
        <div class="lead-left">
            <img src="/assets/b-ball-man.png" alt="Ball Player">
        </div>
        
        <div class="lead-right">
            <h4 class="intro-text">
      Welcome to 3 on 3 Fantasy B-ball, where you build your ultimate 3 man trio
      to play against other teams in the league. Create an account and
      start building your team! Give your team a name, and pick 3
      players from a dozen player pool provided. Then hit the court and
      see how your team stacks up.</h4>
        </div>
    </aside>


</div>
