<div>
  <div
    style="display: flex; flex-direction: column; justify-content: center; font-family: 'Passion One'; align-items: center; margin-top: 80px;"
  >
    <h1>Let's Play Some Ball!</h1>
  </div>

  <div
    style='display: flex; flex-direction: column; justify-content: center; margin: 50px; padding: 40px; text-align: center;'
  >

    <h2>
      Welcome to 3 on 3 Fantasy B-ball, where you build your ultimate 3 man trio
      to play against other teams in the league. Once you have an account you
      can start building your dream team! Give your team a cool name, and pick 3
      players from a dozen player pool provided to you. Then hit the court and
      see how your team stacks up.</h2>
  </div>
</div>