
    <div class="row-cols-1" style="display: flex; flex-direction: column; justify-content: center; font-family: 'Passion One'; align-items: center;">
        <!-- <div class="grid gap-0 column-gap-3"> -->

        <div class="col-md-6 column-gap-3" style="margin-bottom: 30px; width: 500px; margin-top: 50px;">
          <h2>Login</h2>
      <div style="border-style: solid; border-color: black;">




          <form class="form login-form">
        <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 50px;">

            <div class="form-group" style="margin-top: 20px; margin-left: 20%; font-size: 20px;">
              <label for="email-login">Email: </label>
              <input class="form-input" type="text" id="email-login"/>
            </div>
            <div class="form-group" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20%; font-size: 20px;">
              <label for="password-login">Password: </label>
              <input class="form-input" type="password" id="password-login" />
            </div>
        </div>
          
        </div>
    <div class="form-group" style="margin-bottom: 20px;">
            <button class="btn btn-primary" type="submit" style="margin-top: 20px; margin-left: 400px;">LOGIN</button>
          </div>
</form>
        </div>
        <div class="col-md-6" style="width: 500px;">
          <h2>Account Set-Up</h2>
          <div style="border-style: solid; border-color: black;">






<form class="form signup-form">
        <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 50px;">

            <div class="form-group" style="margin-top: 20px; margin-left: 20%; font-size: 20px; ">
              <label for="name-signup">Name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group" style="margin-top: 20px; margin-left: 20%; font-size: 20px; ">
              <label for="email-signup">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group" style="margin-top: 20px; margin-left: 20%; margin-bottom: 20px; font-size: 20px; ">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
          
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" style="margin-left: 400px; margin-top: 20px;">SIGNUP</button>
          </div>
          </form>
      </div>
    </div>

    <script src='/js/login.js'></script>





